@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.max-w-1320 {
    max-width: 1320px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.gap-38 {
    gap: 38px;
}

.py-11 {
    padding-top: 11px;
    padding-bottom: 11px;
}

.nav-btn {
    padding: 12px 32px 12px 32px;
    gap: 10px;
    border-radius: 10px;
    border: none;
}

.nav-btn:hover {
    background-color: var(--color-bloodmyst-isle) !important;
    color: var(--color-white);
}

.text-hover:hover {
    color: var(--color-bloodmyst-isle) !important;
}

/* header */
.bg-img {
    background-image: url(../images/svg/header-burger-img.png) !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.mt-73 {
    margin-top: 73px;
}

.mt-27 {
    margin-top: 27px;
}

/* section 1 */
.discover-btn {
    padding: 15px 32px 15px 32px;
    border-radius: 10px;
}

.discover-btn:hover {
    background: var(--color-white);
    color: var(--color-bloodmyst-isle) !important;
}

.mt-66 {
    margin-top: 66px;
}

.max-w-591 {
    max-width: 591px;
}

.max-w-536 {
    max-width: 536px;
}

/* section 2 */
.mt-114 {
    margin-top: 114px;
}

.mb-91 {
    margin-bottom: 91px;
}

/* section 3 */
.mt-29 {
    margin-top: 29px;
}

.mt-31 {
    margin-top: 31px !important;
}

.mb-34 {
    margin-bottom: 34px;
}

/* section 5 */

.mt-42 {
    margin-top: 42px;
}

.mt-38 {
    margin-top: 38px !important;
}

.mt-26 {
    margin-top: 26px;
}

.mb-44 {
    margin-bottom: 44px;
}

@media (max-width:1199.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: var(--bg-hollandaise) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }
}

@media (min-width:992px) {
    .h_100 {
        height: 100%;
    }
}