@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.max-w-1320 {
    max-width: 1320px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.gap-38 {
    gap: 38px;
}

.py-11 {
    padding-top: 11px;
    padding-bottom: 11px;
}

.nav-btn {
    padding: 12px 32px 12px 32px;
    gap: 10px;
    border-radius: 10px;
    border: none;
}

.nav-btn:hover {
    background-color: var(--color-bloodmyst-isle) !important;
    color: var(--color-white);
}

.text-hover:hover {
    color: var(--color-bloodmyst-isle) !important;
}

.text-hover {
    padding: 2px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.text-hover::before {
    content: '';
    background: var(--color-bloodmyst-isle);
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}

.text-hover:hover::before {
    width: 100%;
}

/* header */
.bg-img {
    background-image: url(../images/svg/header-burger-img.png) !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.mt-73 {
    margin-top: 73px;
}

.mt-27 {
    margin-top: 27px;
}

/* section 1 */
.discover-btn {
    padding: 15px 32px 15px 32px;
    border-radius: 10px;
}

.discover-btn:hover {
    background: var(--color-white);
    color: var(--color-bloodmyst-isle) !important;
}

.mt-66 {
    margin-top: 66px;
}

.max-w-591 {
    max-width: 591px;
}

.max-w-536 {
    max-width: 536px;
}

/* section 2 */
.mt-114 {
    margin-top: 114px;
}

.mb-91 {
    margin-bottom: 91px;
}

/* section 3 */
.mt-29 {
    margin-top: 29px;
}

.mt-31 {
    margin-top: 31px !important;
}

.mb-34 {
    margin-bottom: 34px;
}

/* section 4 timeline */
.pt-73 {
    padding-top: 73px;
}

.mt-97 {
    margin-top: 97px !important;
}

.pb-106 {
    padding-bottom: 106px;
}

.timeline-bg-img {
    background-image: url(../images/png/timeline-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.timeline {
    position: relative;
    max-width: 1320px;
    width: 85%;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 8px;
    background-color: var(--bg-bloodmyst-isle);
    top: 4%;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    height: 71.5%;
}

.content-box {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 60%;
}

.content-box::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    right: -19px;
    background-color: var(--color-white);
    top: 10px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: -10%;
}

.right {
    left: 50%;
}

.right::after {
    left: -16px;
}

.content {
    padding: 27px 23px 27px 23px;
    background-color: var(--color-white);
    position: relative;
    border-radius: 10px;
}

/* section 5 */

.mt-42 {
    margin-top: 42px;
}

.mt-38 {
    margin-top: 38px !important;
}

.mt-26 {
    margin-top: 26px;
}

.mb-44 {
    margin-bottom: 44px;
}

/* section 6 accordion  */
.max-w-866 {
    max-width: 866px;
}

.mb-7 {
    margin-bottom: 7px;
}

.mt-58 {
    margin-top: 58px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-10 {
    padding-left: 10px;
}

.mt-88 {
    margin-top: 88px;
}

.gap-46 {
    gap: 46px;
}

.mt-26 {
    margin-top: 26px;
}

.max-w-524 {
    max-width: 524px;
}

.pt-52 {
    padding-top: 52px;
}

.pb-44 {
    padding-bottom: 44px;
}

.section-6 .accordion {
    padding-top: 26px;
    width: 922px;
    --bs-accordion-border-color: none !important;
}

.section-6 .accordion-item {
    background-color: var(--bg-hollandaise) !important;
}

.section-6 .accordion-button {
    background-color: var(--bg-hollandaise) !important;
    padding-top: 23px !important;
    padding-bottom: 24px !important;
}

.section-6 .accordion-collapse {
    padding-bottom: 19px !important;
}

.section-6 .accordion-button:focus {
    box-shadow: none !important;
}

.section-6 .accordion-button::after {
    width: 20px !important;
    background-image: url(../images/svg/accordion-down-arrow.svg) !important;
    margin-top: 7px;
    margin-bottom: 0;
}

.section-6 .accordion-button:not(.collapsed)::after {
    transform: rotate(180deg) !important;
    margin-bottom: 7px;
    margin-top: 0;
}

.up-hover {
    transition: all 200ms linear;
}

.up-hover:hover {
    transform: scale(1.1);
}

@media (max-width:1199.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: var(--bg-hollandaise) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }
}

@media (max-width: 767.98px) {
    .timeline::after {
        left: 31px;
    }

    .content-box {
        width: 100%;
        padding-left: 60px;
        padding-right: 25px;
    }

    .timeline {
        width: 100%;
    }

    .content-box::before {
        left: 60px;
        border: medium solid var(--color-white);
        border-width: 10px 10px 10px 0;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }

    .left {
        left: 0%;
    }
}

@media (max-width:575.98px) {
    .content {
        padding: 16px 11px 16px 11px;
    }
}

@media (min-width:992px) {
    .h_100 {
        height: 100%;
    }
}